* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(197, 152, 197);
}

.main-container {
    padding: 20px;
}

.name,
.sub {
    text-align: center;
    text-decoration: underline;
}


.header.name {
    font-size: 50px;
    color: navajowhite;
    padding: 10px;
    margin-bottom: 30px;
}

.one,
.two,
.three {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: auto;
}

.recipe {
    display: inline-block;
    font-size: 25px;
}



em {
    color: blue;
}

strong,
b {
    font-weight: 900;
    color: black;
}


.unit {
    background-color: white;
    color: red;
}

.unit#uno {
    font-weight: 600;
}

