* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 5px solid grey;
    padding: 5px;
}

.main-container {
    padding: 20px;
}

.name,
.sub {
    text-align: center;
    text-decoration: underline;
}

.header.name {
    font-size: 50px;
    color: black;
    padding: 10px;
    margin-bottom: 50px;
}

.box {
    display: inline-block;
    font-size: 30px;
    background-color: rgb(226, 223, 223);
    padding: 5px;
}

.big-box {
    width: 900px;
    margin: 0 auto;
}

.box.las {
    margin-right: 50px;
    margin-bottom: 50px;
}

.box.alu {
    margin-bottom: 50px;
}

.box.pan {
    display: block;
    width: 410px;
    margin: 0 auto;
}

.box img {
    width: 400px;
    height: 300px;
}

.link {
    display: block;
    width: 55%;
    margin: 0 auto;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

em {
    color: black;
}

.one,
.two,
.three {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: auto;
    border: 2px solid purple;
}

strong,
b {
    font-weight: 900;
    color: black;
}


.unit {
    background-color: white;
    color: red;
}

.unit#uno {
    font-weight: 600;
}

